{% extends "../base_part.html" %}
{% load static %}

{% block extraStyles %}
  <link rel="stylesheet" href="{% static 'css/parts/part_details.css' %}">
{% endblock extraStyles %}

{% block partFilters %}
    <div class="parts-spec-container">
        <div class="parts-spec-title">
            Spec
        </div>
        <div class="parts-specs">
            {% for key,spec in part.items %}
                <div class="spec-section-header">
                    {{ key|capfirst }}
                </div>
                <div class="spec-section-body">
                    {{ spec }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock partFilters %}

{% block partGrid %}
    <h1>CPU Details:</h1>
    {% if part %}
        <h4>{{ title }} spec: </h4>
        <div class="col-md-8 offset-md-2">
            <ul class="list-group" >
                {% for key, value in part.items %}
                    <li class="list-group-item">
                            <div class="row">
                                <span class="col-md-3 text-right">{{ key }}:</span> 
                                <span class="col-md-5 offset-md-2">{{ value }}</span>
                            </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>Cpu cant be found.</p>
    {% endif %}
{% endblock partGrid %}