{% extends "../base_part.html" %}
{% load static %}

{% block extraStyles %}
  <link rel="stylesheet" href="{% static 'css/parts/part_details.css' %}">
{% endblock extraStyles %}

{% block partFilters %}
    <div class="parts-spec-container">
        <div class="parts-spec-title">
            Spec
        </div>
        <div class="parts-specs">
            {% for key,spec in part.items %}
                <div class="spec-section-header">
                    {{ key|capfirst }}
                </div>
                <div class="spec-section-body">
                    {{ spec }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock partFilters %}

{% block partGrid %}
    <h1>CPU Details:</h1>
    {% if part %}
        <h4>{{ title }} spec: </h4>
        <div class="row">
            <div class="part-image-area col-md-4 text-center">
                <img src="https://via.placeholder.com/250" alt="" srcset="" class="">
            </div>
            <div class="col-md-8">
                <div class="review-title">Reviews :</div>
                <div class="comment-section">
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-header row">
                                <div class="col-md-2 text-center">
                                    <img src="https://via.placeholder.com/50" alt="" srcset="">
                                </div>
                                <div class="col-md-8">
                                    <div class="comment-owner-name">
                                        {{comment.owner.username|capfirst}}
                                    </div>
                                    <div class="comment-timestamp">
                                        {{comment.timestamp}}
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body row">
                                <div class="offset-md-2">
                                    {{ comment.text }}
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>Cpu cant be found.</p>
    {% endif %}
{% endblock partGrid %}