{% extends "../base_part.html" %}
{% load static %}
{% load upTo %}
{% load commentFilters %}

{% block extraStyles %}
  <link rel="stylesheet" href="{% static 'css/parts/part_details.css' %}">
{% endblock extraStyles %}

{% block partFilters %}
    <div class="parts-spec-container">
        <div class="parts-spec-title">
            Spec
        </div>
        <div class="parts-specs">
            {% for key,spec in part.items %}
                <div class="spec-section-header">
                    {{ key|capfirst }}
                </div>
                <div class="spec-section-body">
                    {{ spec }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock partFilters %}

{% block partGrid %}
    <h1>CPU Details:</h1>
    {% if part %}
        <h4>{{ title }} spec: </h4>
        <div class="row">
            <div class="part-image-area col-md-4 text-center">
                <img src="https://via.placeholder.com/250" alt="" srcset="" class="" style="width:100%; max-width: 250px;">
            </div>
            <div class="col-md-8">
                <div class="review-title">Reviews :</div>
                <div class="comment-section">
                    {% for comment in comments %}
                        <div class="comment">
                            <div class="comment-header row">
                                <div class="col-md-2 text-center">
                                    <a href="#" class="user-avatar">
                                        <img src="https://via.placeholder.com/50" alt="" srcset="">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="comment-owner-name">
                                        <a href="#" class="username-link">{{comment.owner.username|capfirst}}</a>                                        
                                    </div>
                                    <div class="comment-timestamp">
                                        {{comment.timestamp|timesince|upto:','}} ago
                                    </div>
                                </div>
                            </div>
                            <div class="comment-body row">
                                <div class="offset-md-2">
                                    {{ comment.text }}
                                </div>
                            </div>
                            <div class="comment-footer row">
                                <a href="#">Report</a>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                    {% if user.is_authenticated and not comments|iscommented:user.id %}
                        <form action="{% url 'comment-create' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control"  type="hidden" name="part" value="{{ part.ID }}">
                                <input class="form-control"  type="hidden" name="owner" value="2">
                                <textarea class="form-control"  name="text" id="" cols="30" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Post</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <p>Cpu cant be found.</p>
    {% endif %}
{% endblock partGrid %}