.parts-grid-container {
    padding: 15px;
}

table.part-grid{
    font-size: 14px;
}

table.part-grid th, table.part-grid td{
    color: rgba(37, 37, 37, 0.75);
    padding: 0.5rem;
    border-color: rgba(47, 47, 215, 0.75);
}
table.part-grid th a{
    color: rgba(37, 37, 37, 0.75);
}

table.part-grid td a:hover {
    text-decoration: none;
}

table.part-grid thead {
    box-shadow: inset 0px -5px 5px -4px rgba(47, 47, 215, 0.5);
}

table.part-grid thead th{
    border-color: rgba(47, 47, 215, 0.65);
}

.parts-list-title {
    border-bottom: 2px black solid;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.parts-filters-container {
    padding: 15px;
}

.parts-filters {
    margin-left: 5%;
}

.filter-section-header {
    font-size: 1.1rem;
    font-weight: bold;
    border-bottom: 1px solid #0005;
    margin-bottom: 5px;
}

.filter-section-body {
    margin-left: 5%;
    font-size: 14px;
}

.parts-empty-header {
    text-align: center;
    margin-top: 50px;
    font-weight: 500;
    font-size: 2rem;
}

.parts-empty-icon {
    text-align: center;
}
.parts-empty-icon img{
    margin-top: 75px;
    color: #597ae6;
    filter: invert(43%) 
            sepia(71%) 
            saturate(2228%) 
            hue-rotate(210deg) 
            brightness(96%) 
            contrast(87%);
    width: 10%;
}

.filters-empty-header {
    text-align: center;
    margin-top: 55px;
    font-weight: 500;
    font-size: 1.6rem;
}

.filters-empty-icon {
    text-align: center;
}
.filters-empty-icon img{
    margin-top: 100px;
    color: #597ae6;
    filter: invert(43%) 
            sepia(71%) 
            saturate(2228%) 
            hue-rotate(210deg) 
            brightness(96%) 
            contrast(87%);
    width: 20%;
}